.popup__admin {
    border: none;
    font-family: "Inter", Arial, sans-serif;
    width: 80%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
}