.profile__edite-button {
  width: 5%;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  position: absolute;
  right: 20%;
  top: 30%;
}

@media screen and (max-width: 688px) {
  .profile__edite-button {
    width: 18px;
    height: 18px;
    top: 30%;
    right: 8%;
  }
}

.profile__edite-button:hover {
  opacity: 0.6;
}