.profile__edite-button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

@media screen and (max-width: 688px) {
  .profile__edite-button {
    width: 18px;
    height: 18px;
    top: 30%;
    right: 8%;
  }
}

.profile__edite-button:hover {
  opacity: 0.6;
}