.popup__sav {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: 0;
  margin: 15% 0 10%;
  cursor: pointer;
  transition: opacity 0.4s;
  background-color: #000000;
  font-family: inherit;
  color: white;
}

.popup__sav:hover {
    opacity: .7;
  }
