.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
    gap: 16px;
    width: 90%;
    margin: 10% 0 0;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 688px) {
    .elements {
        width: 90%;
    }
}