.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  margin: 5% 0px 0px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 688px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
